<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Sorting Example</title>
  </head>
  <body>
    <h1>Sorting Example</h1>

    <p>This app just sorts a long list of words using various algorithms.</p>

    <ul>
      <li><a th:href="@{/words}">Unsorted</a></li>
      <li><a th:href="@{/words?sort=bubble}">Bubble sort</a> - O(n^2)</li>
      <li><a th:href="@{/words?sort=insertion}">Insertion sort</a> - O(n*2)</li>
      <li><a th:href="@{/words?sort=merge}">Merge sort</a> - O(n log n)</li>
      <li><a th:href="@{/words?sort=heap}">Heap sort</a> - O(n log n)</li>
      <li><a th:href="@{/words?sort=quick}">Quick sort</a> - O(n log n)</li>
      <li><a th:href="@{/words?sort=java}">Java sort</a> - O(n log n)</li>
    </ul>

    <p>If you want to see how these sorting methods work, you can look at some
    <a href="https://www.cs.usfca.edu/~galles/visualization/ComparisonSort.html">animations</a>.</p>
  </body>
</html>
